<div id="content" class="bordered">
  <div id="table-holder">
    <table
      mat-table
      [dataSource]="kozpontiKijelzoLista"
      class="mat-elevation-z8"
      id="varakozok-tablazat"
    >
      <ng-container matColumnDef="sorszam">
        <th mat-header-cell *matHeaderCellDef>Sorszám</th>
        <td mat-cell *matCellDef="let varakozo">{{ varakozo.sorszam }}</td>
      </ng-container>

      <ng-container matColumnDef="szoba">
        <th mat-header-cell *matHeaderCellDef>Szoba</th>
        <td mat-cell *matCellDef="let varakozo">
          {{ varakozo.szoba }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        class="highlighted"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</div>
