<div id="content">
  <div id="taj">
    <form [formGroup]="form">
      <mat-form-field appearance="outline" color="warn">
        <input
          matInput
          type="text"
          placeholder="TAJ-szám"
          formControlName="taj"
        />
      </mat-form-field>
      <mat-error
        *ngIf="taj?.hasError('minlength') || taj?.hasError('maxlength')"
        >A TAJ szám 9 számjegyből kell álljon.</mat-error
      >

      <mat-error *ngIf="taj?.hasError('pattern')"
        >Kérem, csak számokat adjon meg!</mat-error
      >
      <mat-error
        *ngIf="
          taj?.value.length === 9 &&
          !taj?.hasError('pattern') &&
          taj?.hasError('isCdvInvalid')
        "
        >A megadott TAJ szám nem érvényes.</mat-error
      >
    </form>
  </div>
  <div id="list">
    <!-- TODO: making buttons disabled if taj is not valid -->
    <button
      mat-raised-button
      color="warn"
      *ngFor="let vizsgalat of vizsgalatLista"
      (click)="vizsgalatValasztas(vizsgalat.kod, taj.value)"
    >
      {{ vizsgalat.megnevezes }}
    </button>
  </div>

  <div id="card-holder">
    <mat-card>
      <h3>Az Ön sorszáma:</h3>
      <div *ngIf="sorszamAdat">
        <h1 id="number">{{ sorszamAdat.sorszam }}</h1>
        <h3>Vizsgálatkód: {{ sorszamAdat.vizsgalatKod }}</h3>
        <h3 *ngIf="taj">{{ sorszamAdat.taj }}</h3>
        <!--TODO: set date to hungarian format  -->
        <h3>
          {{ sorszamAdat.erkezesIdeje | date : "medium" }}
        </h3>
        <h3>Várakozók száma: {{ sorszamAdat.varakozok }}</h3>
      </div>
    </mat-card>
  </div>
</div>
