<div id="content">
  <div id="taj">
    <form [formGroup]="form">
      <mat-form-field appearance="outline" color="warn">
        <input
          matInput
          type="text"
          placeholder="TAJ number"
          formControlName="tajNumber"
        />
      </mat-form-field>
      <mat-error
        *ngIf="
          tajNumber?.hasError('minlength') || tajNumber?.hasError('maxlength')
        "
        >A TAJ szám 9 számjegyből kell álljon.</mat-error
      >

      <mat-error *ngIf="tajNumber?.hasError('pattern')"
        >Kérem, csak számokat adjon meg!</mat-error
      >
      <mat-error
        *ngIf="
          tajNumber?.value.length === 9 &&
          !tajNumber?.hasError('pattern') &&
          tajNumber?.hasError('isCdvInvalid')
        "
        >A megadott TAJ szám nem érvényes.</mat-error
      >
    </form>
  </div>
  <div id="list">
    <!-- TODO: making buttons disabled if taj is not valid -->
    <button
      mat-raised-button
      color="warn"
      *ngFor="let examination of examinationList.examinations"
    >
      {{ examination.megnevezes }}
    </button>
  </div>

  <div id="card-holder">
    <mat-card>
      <h3>Az Ön sorszáma:</h3>
      <h1 id="number">Sorszám</h1>
      <h3>Vizsgálatkód:</h3>
      <h3 *ngIf="tajNumber">{{ tajNumber.value }}</h3>
      <h3>{{ erkezesIdeje }}</h3>
      <h3>Várakozók száma:</h3>
    </mat-card>
  </div>
</div>
