#content {
  #card-holder {
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
    }
    button {
      margin: 10px;
      color: rgb(245, 245, 245);
      height: 60px;
    }
  }
}
