// TODO: add style to table
#content {
  #button-holder,
  #table-holder {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin: 10px;
      color: rgb(245, 245, 245);
      height: 60px;
    }
  }

  #table-holder {
    margin-top: 30px;

    table {
      width: 500px;

      .mat-column-sorszam,
      .mat-column-erkezesIdeje,
      .mat-column-taj {
        color: rgb(119, 115, 115);
        font-weight: bold;
      }
    }

    .mat-mdc-raised-button.mat-accent {
      margin-top: 30px;
      font-size: 16px;
    }
  }
}
